<div class="container">
  <h1 class="mt-2 text-center">2020 wishlist</h1>

  <div *ngIf="wishError?.message">
    <div class="alert alert-danger" role="alert">
      Some error occurred. Please try again
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-8 mt-2">Wish</div>
    <div class="col-md-4 mt-2">Is Completed?</div>
  </div>
  <ng-container *ngFor="let wish of WishesList">
    <div class="row text-center">
      <div class="col-md-8 mt-2">{{ wish.content }}</div>
      <div class="col-md-4 mt-2">{{ wish.isCompleted }}</div>
    </div>
  </ng-container>
</div>

<hr>

<div class="container form-group add-wish-container">
  <h3>Add new wish to your wishlist?</h3>
  <form (ngSubmit)="addWish()">
    <div class="row">
      <div class="form-group col-md-6">
        <input [(ngModel)]="Content" placeholder="Enter your wish..." class="form-control" name="Content" />
      </div>

      <div class="col-md-3 form-check">
        <input type="checkbox" class="form-check-input" id="IsCompleted" name="IsCompleted" [(ngModel)]="IsCompleted" />
        <label for="IsCompleted" class="form-check-label">Completed?</label>
      </div>

      <div class="col-md-3">
        <button type="submit" class="btn btn-info">
          Add My Wish
        </button>
      </div>
    </div>
  </form>
</div>