
<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Movie Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>
</nav>

<div class="row">
    <div class="col-md-12">
        <br> <br>  <br>
            <h1> Browse our favourite movies.</h1>
            <p> Lorem ipsum </p>
            <button type="button" class="btn btn-primary btn-lg">Learn more</button>
    </div>
</div>

<hr>
    
<div class="card text-white bg-primary mb-3" style="width: 100%;">
        <div class="card-header">Popular movies</div>
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Description</p>
        </div>
      </div>
</div>