<div class="card">
  <div class="card-header">
    <h5>{{pageTitle}}</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mx-auto">
        <p class="ml-3">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt porttitor dolor, a sollicitudin urna scelerisque iaculis. Quisque sodales gravida velit vitae efficitur. Integer ullamcorper est ut felis finibus, a condimentum dolor cursus. Duis sed libero lacus. Sed orci purus, tempor sed molestie vel, molestie ac mauris. Nunc a dapibus justo, in convallis nisl. Nunc non ex vitae libero egestas convallis eget vel massa. Curabitur urna mauris, dictum sed placerat non, feugiat a eros. Aliquam quis luctus nunc. Vestibulum et ullamcorper nulla, ut ullamcorper augue. Nunc sed tincidunt enim. Aliquam sed eleifend tellus, at euismod sapien. Etiam lacinia faucibus ante. Donec commodo feugiat purus vel molestie. Sed ipsum ipsum, semper at nulla in, scelerisque rutrum dui. Sed feugiat vel nibh non feugiat.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="text-center col-md-12">Developed by:</div>
      <div class="col-4" style="width: 200px;">
        <h4 class="text-center">D</h4>
      </div>
    </div>
  </div>
</div>